#########################################
#  Ficheros ignorados por GIT
#########################################

# Clases compiladas de java .class
/bin/

# Configuracion de Eclipse
/.classpath
/.project
